@media all and (min-width: 480px) {
    .Profile {
        padding: 60px 0;
        margin: 0 auto;
        max-width: 480px;
    }
}

.change-pass-btn {
    margin-top: 20px;
    margin-bottom: 135px;
}

h3 {
    margin-bottom: 2rem !important;
}

h1 {
    margin-bottom: 6rem !important;
    color: orange;
    font-weight: bold;
}